.wrapper {
    width: 100%;
    display: block;
    overflow: visible;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5ff;
}

.slider-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent-jobs-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.urgent-jobs-container + .urgent-jobs-container{
    margin-bottom: 20px;
}

.urgent-jobs-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent-jobs-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.urgent-jobs-icon{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin: 0px 10px;
}

.slider-wrapper{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.popular-company-container{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
}

.popular-company-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.popular-career-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
    margin-top: 20px;
}

.popular-career-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.customer-feedback-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
    margin-top: 20px;
}

.customer-feedback-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.header{
	width: 100%;
    height: 50px;
    background-color: #464747;
	display: flex;
	align-items: center;
	position: relative;
}

.companies-wrapper{
    width: 96%;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.careers-wrapper{
    width: 96%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.comments-wrapper{
    width: 96%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}


.logo-wrapper {
    position: absolute;
    height: 50px;
    width: 25%;
    display: flex;
    background-color:#089dd8;
    color: #000;
    z-index: 1;
    overflow: visible;
    &::after{
        content: "";
        position: absolute;
        right: -49px;
        top: 0;
        border-width: 50px 50px 0px 0px;
        border-style: solid;
        border-color: #089dd8 transparent transparent transparent;
        z-index: 2;
    }
}

.logo-container {
    position: absolute;
    height: 50px;
    width: 95%;
    display: flex;
	align-items: center;
    background-image: linear-gradient(45deg, #9bd7ef, #1eb6f2);
    color: #000;
    z-index: 4;
    overflow: visible;
    &::after{
        content: "";
        position: absolute;
        right: -49px;
        top: 0;
        border-width: 50px 50px 0px 0px;
        border-style: solid;
        border-color: #34bbf0 transparent transparent transparent;
        z-index: -1;
    }
}

.button-wrapper{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.view-all-button{
    color: white;
    background: #089dd8;
    width: 140px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.8s;
    &:hover{
        color: #089dd8;
        background-color: #fff;
        border: 2px solid #089dd8;
        transform: scale(1.2);
        box-shadow: 0 0 20px #9e9e9e;
    }
}