.wrapper {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
    display: flex;
    background-color: #f1f5ff;
    overflow: visible;
}

.side-bar{
    width: 20%;
    height: calc(100vh - 100px);
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: #fff;
    z-index: 99;
    overflow-y: auto;
}

.reload-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: #9a9d9d;
    }
}

.reload-icon{
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.page-content{
    width: 80%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper{
    width: 100%;
}

.job-post-wrapper{
    width: 98%;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.table-item{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #f7f7f7;
}

.page-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 20px;
}

.action-button-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 30%;
    right: 0%;
}

.update-button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fea505;
    cursor: pointer;
    &:hover{
        background-color: #d58b03;
    }
}

.delete-button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#f54444;
    cursor: pointer;
    &:hover{
        background-color:#d73737;
    }
}

.action-button-icon{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.filter-wrapper{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-title{
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 20px;
}

.add-button-wrapper{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.table-title{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}

.table-container{
    width: 96%;
    border-top: 2px solid #f7f7f7;
    margin-left: 2%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-box{
    width: 50%;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px solid #a7a7a5;
    border-radius: 5px;
}

.select{
    width: 20%;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px solid #a7a7a5;
    border-radius: 5px;
}

.search-button{
    height: 40px;
    width: 15%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34BBF0;
    padding: 0px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    &:hover{
        background-color: #089DD8;
    }
}

.add-button{
    height: 40px;
    width: 15%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f04434;
    padding: 0px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 5px;
    &:hover{
        background-color: #e71b09;
    }
}

.search-icon{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    margin-right: 5px;
    padding: 0;
}

.search-text{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}


.text-editor-container{
    width: 60%;
    height: 500px;
    background-color: #fff;
}

.drop-down-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manager-button{
    width: 100%;
    height: 50px;
    cursor: pointer;
    &:hover{
        background-color: #9e9e9e;
    }
    display: flex;
    align-items: center;
    z-index: 101;
}

.button-icon{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 20px;
}

.button-title{
    font-size: 1.4rem;
    font-weight: 500;
}

.drop-down{
    width: 100%;
    height: 50px;
    cursor: pointer;
    &:hover{
        background-color: #9e9e9e;
    }
    display: flex;
    align-items: center;
    z-index: 100;
}

.drop-down-icon{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 20px;
    color: #383838;
}

.drop-down-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #383838;
}

.slider-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent-jobs-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
}

.urgent-jobs-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent-jobs-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.urgent-jobs-icon{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin: 0px 10px;
}

.slider-wrapper{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.popular-company-container{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
    margin-top: 20px;
}

.popular-company-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.popular-career-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
    margin-top: 20px;
}

.popular-career-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.customer-feedback-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5ff;
    margin-top: 20px;
}

.customer-feedback-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #f0f1f2;
}

.header{
	width: 100%;
    height: 50px;
    background-color: #464747;
	display: flex;
	align-items: center;
	position: relative;
}

.companies-wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.careers-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.comments-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}


.logo-wrapper {
    position: absolute;
    height: 50px;
    width: 25%;
    display: flex;
    background-color:#089dd8;
    color: #000;
    z-index: 1;
    overflow: visible;
    &::after{
        content: "";
        position: absolute;
        right: -49px;
        top: 0;
        border-width: 50px 50px 0px 0px;
        border-style: solid;
        border-color: #089dd8 transparent transparent transparent;
        z-index: 2;
    }
}

.logo-container {
    position: absolute;
    height: 50px;
    width: 95%;
    display: flex;
	align-items: center;
    background-image: linear-gradient(45deg, #9bd7ef, #1eb6f2);
    color: #000;
    z-index: 4;
    overflow: visible;
    &::after{
        content: "";
        position: absolute;
        right: -49px;
        top: 0;
        border-width: 50px 50px 0px 0px;
        border-style: solid;
        border-color: #34bbf0 transparent transparent transparent;
        z-index: -1;
    }
}

.button-wrapper{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.view-all-button{
    color: white;
    background: #089dd8;
    width: 140px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.8s;
    &:hover{
        color: #089dd8;
        background-color: #fff;
        border: 2px solid #089dd8;
        transform: scale(1.2);
        box-shadow: 0 0 20px #9e9e9e;
    }
}

.urgent-container{
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 0%;
}

.job-name-item-urgent{
    font-size: 1.4rem;
    font-weight: 500;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.urgent-wrapper{
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 10px;
}

.urgent-text{
    font-size: 1.2rem;
    font-weight: 700;
    color: red;
}

.city-checkbox{
    position: absolute;
    top: 45%;
    left: 0%;
}

.job-name-item{
    font-size: 1.4rem;
    font-weight: 500;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posted-date-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 16%;
}

.deadline-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 31%;
}


.applied-count-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 47%;
}

.view-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 63%;
}

.status-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 78%;
}

.action-item{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    right: 0%;
}

//

.job-name{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 5%;
}

.posted-date{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 17%;
}

.deadline{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 32%;
}

.applied-count{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 47%;
}

.view{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 62%;
}

.status{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 77%;
}

.action{
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 30%;
    right: 2%;
}